# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
artifacts/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Logs
*.log

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml

# NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
publish/
*.pubxml
*.publishproj

# Others
*.tmp
*.pidb
*.svclog
*.psess
*.vsp
*.dbmdl
*.pdb
*.cache
*.db